<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <title>Basic Python</title>
<link href="bootstrap.min.css" rel="stylesheet">
  </head>
  <body background="bg2.jpg">
    <header>
      <p>&nbsp;</p>
      <h3 style="text-align: center; color: rgba(255, 255, 255, 0.814)">CodeAway</h3>
      <p>&nbsp;</p>
      <p>&nbsp; </p>
    </header>
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Sticky footer with fixed navbar</h1>
        <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
        <p>Back to <a href="../examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
      </div>
    </main>
  </body>
</html>
