{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Home Page</title>
    <link href="{% static 'first/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'first/homepage.css' %}" rel="stylesheet">
  </head>
  <body background="{% static 'images/bg2.jpg' %} ">    
    <header data-bs-theme="dark">
      <h3 style="text-align: center; color: rgba(255, 255, 255, 0.814)">CodeAway</h3>
      <p>&nbsp;</p>
      <p>&nbsp; </p>
    </header>
    <div >
      <div class="row">
        
        <div class="col-lg-4"> 
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <h2 class="fw-normal" style="color: rgb(255, 255, 255)">Booleans</h2>
          <p style="color: rgba(255, 255, 255, .5)">Learn your first IF ELSE statement!</p>
          <p><a class="btn btn-secondary" href="#">View details</a></p>
        </div>
        <div class="col-lg-4">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          
          <h2 class="fw-normal" style="color: rgba(255, 255, 255)">Strings</h2>
          <p style="color: rgba(255, 255, 255, .5)">It's all about strings in here!</p>
          <p><a class="btn btn-secondary" href="#">View details</a></p>
        </div>
        <div class="col-lg-4">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          
          <h2 class="fw-normal" style="color: rgba(255, 255, 255)">Syntax</h2>
          <p style="color: rgba(255, 255, 255, .5)">Learn basic Python syntax</p>
          <p><a class="btn btn-secondary" href="#">View details</a></p>
        </div>
      </div>
    </div> 
  </body>
</html>
