<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Home Page</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="homepage.css" rel="stylesheet">
  </head>
  <body>    
  <header data-bs-theme="dark">
    <h3 style="text-align: center;">CodeAway</h3>
    <p>&nbsp;</p>
    <p>&nbsp; </p>
  </header>
  <div class="container marketing">
    <div class="row">
      
      <div class="col-lg-4"> 
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <h2 class="fw-normal">Boolean Statements</h2>
        <p>Learn your first IF ELSE statement!</p>
        <p><a class="btn btn-secondary" href="#">View details</a></p>
      </div>
      <div class="col-lg-4">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        
        <h2 class="fw-normal">Strings</h2>
        <p>It's all about strings in here!</p>
        <p><a class="btn btn-secondary" href="#">View details</a></p>
      </div>
      <div class="col-lg-4">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        
        <h2 class="fw-normal">Syntax</h2>
        <p>Learn basic Python syntax</p>
        <p><a class="btn btn-secondary" href="#">View details</a></p>
      </div>
    </div>
  </div> 
  </body>
</html>
