{% load static %}
<!doctype html>
<html lang="en" >
  <head>
    <title>Home Page</title>
    <link href="{% static 'first/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'first/homepage.css' %}" rel="stylesheet">
  </head>
  <body background="{% static 'images/bg2.jpg' %} ">    
    <header>
      <h3 style="text-align: center; color: rgba(255, 255, 255, 0.814)">CodeAway</h3>
      <p>&nbsp;</p>
      <p>&nbsp; </p>
    </header>
    <div >
      <div class="row">
        
        <div class="col-lg-4"> 
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <h2 class="fw-normal" style="color: rgb(255, 255, 255)">Basic Python</h2>
          <p style="color: rgba(255, 255, 255, .5)">Learn basic Python tools to get started with the language!</p>
          <p><a class="btn btn-secondary" href="{% url 'first:article' pk=1 %}">View details</a></p>
        </div>
        <div class="col-lg-4">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          
          <h2 class="fw-normal" style="color: rgba(255, 255, 255)">Classes</h2>
          <p style="color: rgba(255, 255, 255, .5)">It's all about classes in here!</p>
          <p><a class="btn btn-secondary" href="{% url 'first:article' pk=2 %}">View details</a></p>
        </div>
        <div class="col-lg-4">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          
          <h2 class="fw-normal" style="color: rgba(255, 255, 255)">Django</h2>
          <p style="color: rgba(255, 255, 255, .5)">Learn how to get with your first Django project here</p>
          <p><a class="btn btn-secondary" href="{% url 'first:article' pk=3 %}">View details</a></p>
        </div>
      </div>
    </div> 
    
  </body>
</html>
