{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <link href="{% static 'first/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'first/pikachcss.css' %}" rel="stylesheet">
  <head>
     <title>CodeAway</title>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Codeaway</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" href="#">Login</a>
            <a class="nav-link fw-bold py-1 px-0" href="#">Signup</a>
          </nav>
        </div>
      </header>
      <h1 class="text-left">Learn Python From Scratch</h1>
      <p class="align-text-top">Codeaway is a one stop gateway to learn python. Get started with knowing about simple boolean datatype, all the way to Django and making your own local hosted websites.</p>
      <p>
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
    </div>
  </body>
</html>
