{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Quiz</title>
    <link href="{% static 'first/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'first/test.css' %}" rel="stylesheet">
  </head>
  <body>    
  <header data-bs-theme="dark">
    <h3 style="text-align: center;">CodeAway</h3>
    <p>&nbsp;</p>
    <p>&nbsp; </p>
  </header>
  <div class="container marketing">
    <div class="row">
      
      <div class="col-lg-4"> 
       <ul> 
         <form>
              {% for dat in data %}
                 <h6>{{dat.category}}</h6>
                 <h3>{{dat.question}}</h3>
                 {% for answer in dat.answers%}
                    <input type="radio" name ="ship[{{dat.answers}}]" >{{answer}}
                    <br>
                 {%endfor%}
                 <br>
              {%endfor%}
            
            </form>
       </ul>
          

      </div>
    </div>
  </div> 
  </body>
</html>