{% load static %}
<!DOCTYPE html>

<html lang="en">
  <style>

    
    .log {
        background-color: rgb(63, 191, 63);
        color: white;
        height: 32px;
        width: 105px;
        border-radius: 6px;
        transition: box-shadow 0.15s;
        cursor: pointer;
        font-weight: bold;
        border: none;
    }
    .log:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    }
    
</style>
  
  <script src = "{% static '/quizes/main.js' %}" defer></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
 
<body background="{% static 'images/bg2.jpg' %} ">
   
   
  <h1 style="text-align: left; color :white">Topic</h1>
    <hr>
    {% for obj in object_list %}
        <a href='/{{obj.pk}}/' ><button class="log">{{obj.name}}</button></a>
            <p></p>
    {% endfor %}


</body>
 
  
</html>