{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src ="{% static 'quizes/quiz.js' %}" defer></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{obj.title}}</title>
</head>
<body>
    {{obj.name}}
    <hr>
    <form id ="quiz-form" class ="mt-3 mb-3">
        {% csrf_token %}
        <div id ="quiz-box"></div>
        <button type ="submit" class ="btn btn-primary mt-3">save</button>
    </form>
</body>
</html>