{% load static %}
<!doctype html>
<html lang="en" class="h-100">

  <link href="{% static 'users/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'users/signin.css' %}" rel="stylesheet">

  <head>
    
    
    <title>Sign Up</title>

  </head>
  
  <body class="text-center" text-bg-dark>
    <main class="form-signin w-100 m-auto"><!--could not find a class for registration in bootstrap, so we just used signin-->
      <h1 style="color:rgb(221, 234, 183);">CodeAway</h1>
      <p>&nbsp; </p>
      
      <p>&nbsp; </p>
      {% if message %}
        <div> {{ message }}</div>
      {% endif %}
      <form action="{%url 'register' %}" method="POST">
          {% csrf_token %}
          <h2 style="color:rgb(223, 213, 213);">Sign Up </h2>

          <p style="color:rgb(228, 199, 199);">Please fill in this form to create an account.</p>
          
          <div>
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <p></p>
          <div>
            <input type="text" class="form-control" placeholder="Enter Email" name="email" required>
          </div>
          <p></p>
          <div>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
          </div>
          <p></p>
          
          <p style="color:rgb(76, 78, 99);">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p></p>
          <p style="color:bisque">&copy; Varun, Babin, Varun</p>
      </form> 
    </main>   
  </body>
</html>
