{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Signinx</title>
    <link href="{% static 'users/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'users/signin.css'%} " rel="stylesheet">
  </head>
  
  <body class="text-center" text-bg-dark>
    <main class="form-signin w-100 m-auto">
      <h1 style="color:rgb(223, 213, 213);">Codeaway</h1>
      <p>&nbsp; </p>
      
      <p>&nbsp; </p>
      
      <p>&nbsp; </p>
      <form action="{%url 'login' %}" method="POST">
        {% csrf_token %}
        <p>&nbsp; </p>
        <p>&nbsp; </p>
        <div>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <p></p>
        <div>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p></p>
        <p style="color:bisque">&copy; Varun, Babin, Varun</p>
      </form>
    </main>   
  </body>
</html>
